<% content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>Welcome</h1>
    <p>Our mission is to connect refugees and locals</p>
    <%= link_to "Let's connect", posts_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
