.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  margin: 20px;
}

.card-product {
  overflow: hidden;
  line-height: 1.5em;
  height: 3em;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.card-product img {
  height: 50%;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.post-description {
  line-height: 1.5em;
  height: 2.5em;
  overflow: hidden;
}
