.center_div {
  margin: 0 auto;
  width:75%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.filter {
  margin: 0 auto;
  width:30%;
  position: relative;
  text-align: center;
}

#icon {
  text-decoration: none;
  border: 2px solid $ecru;
  border-radius: 50%;
  padding: 30px;
  margin: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: $darkblue;
}
