  .form {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .title{
    border-radius: 5px;
  }

  .description {
    height: 200px;
    border-radius: 5px;
  }

  .choice {
    display: flex;
    justify-content: space-around;
  }
