<div class="container">
<h4>About</h4>
<p>I am Rosalie and "Welcome" is a project coded by me during the <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a>
coding bootcamp in 2022.</p>
<p>Coming from a refugee family myself, I was interested in making an application that could help refugees get connected with locals and give locals a platform to support refugees. Just as my grand-parents have received help back in 1979 when they arrived in Germany after leaving their home country Vietnam. The question back then but also today in the light of current events is the same: How can we connect and support each other? </p>
<p>Feel free to reach out to me: <a href= "mailto:rosaliequach@gmx.net">rosaliequach@gmx.net</a> //
  <a href="https://www.linkedin.com/in/rosalie-quach-06b517a5/" target="_blank">LinkedIn</a>
</p>

<%= image_tag("Huynh_1979_sw.jpg", :alt=>"Huynh family in 1979 Germany", :size=> "350x350") %>
<i><figcaption>My grandparents with 6 of their 8 children in 1979 (Aalen, Germany).</figcaption></i>
<br>
</div>
<div class="container">
<h4>Thank you</h4>
<p>Special thanks goes to <a href="https://www.carolinloebbert.de/" target="_blank">Carolin Löbbert</a> who shared the wonderful "Let's hug !" banner and its beautiful color scheme with me for my project.</p>
</div>
